body {
    background-color: #333;
    color: #eee;
    margin: 0;
    padding: 0;
}

p1 {
    text-decoration-style: solid;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #555;
    z-index: 99;
    text-align: center;

    animation-name: fadein-out;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}

#header {
    position: absolute;
    height: 45px;
    width: 100%;
    background-color: #333;
    color: #111;
    top: 0;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
}
#mapview {
    z-index: 0;
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0;
    right: 0;
}

.edit {
    display: none;
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    animation-name: fadein-out;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}
  
.edit-content {
    background-color: #121212;
    color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    height: 55%;
    overflow-y: auto;
    border: 1px solid #888;
    width: 80%;
}
  
.edit-close {
    position: absolute;
    top: 23%;
    left: 90%;
    transform: translateX(-50%) translateY(-50%);
}

/* animations */
@keyframes fadein-out {
    from {opacity: 0;}
    to {opacity: 1;}
}